<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">

  <link rel="stylesheet" href="scss/style.scss">

  <title>Footer 02</title>
</head>
<body>

<!--<div class="content d-flex align-items-center bg-light">-->
<!--  <h2 class="w-100 text-center">Footer #2</h2>-->
<!--</div>-->

<footer class="footer-32892 pb-0">
  <div class="site-section">
    <div class="container">


      <div class="row">

        <div class="col-md pr-md-5 mb-4 mb-md-0">
          <h3>About Me</h3>
          <p class="mb-4">I'm Mr.CodeWalker, now i'm studying at the academy of cryptography techniques Viet Nam</p>
          <ul class="list-unstyled quick-info mb-4">
            <li><a href="#" class="d-flex align-items-center"><span class="icon mr-3 icon-phone"></span> +84 969074102</a></li>
            <li><a href="#" class="d-flex align-items-center"><span class="icon mr-3 icon-envelope"></span> mr.codewalker@gmail.com</a></li>
          </ul>

          <form action="#" class="subscribe">
            <input type="text" class="form-control" placeholder="Enter your e-mail">
            <input type="submit" class="btn btn-submit" value="Send">
          </form>
        </div>
        <div class="col-md mb-4 mb-md-0">
          <h3>Latest News</h3>
          <ul class="list-unstyled tweets">
            <li class="d-flex">
              <div class="mr-4"><span class="icon icon-twitter"></span></div>
              <div>If you have any problem, just send me an email</div>
            </li>
            <li class="d-flex">
              <div class="mr-4"><span class="icon icon-twitter"></span></div>
              <div>Hải Code Dạo</div>
            </li>
            <li class="d-flex">
              <div class="mr-4"><span class="icon icon-twitter"></span></div>
              <div>Send me any file which was published by the lecture</div>
            </li>
          </ul>
        </div>


        <div class="col-md-3 mb-4 mb-md-0">
          <h3>Social Account</h3>
          <div class="row gallery">
            <div class="col-8">
              <a href="https://www.facebook.com/hai.huynhngoc.12382/">Huỳnh Ngọc Hải</a>
              <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@maris_huynhh" data-unique-id="maris_huynhh" data-embed-type="creator" style="max-width: 780px; min-width: 288px;" > <section> <a target="_blank" href="https://www.tiktok.com/@maris_huynhh?refer=creator_embed">@maris_huynhh</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="py-5 footer-menu-wrap d-md-flex align-items-center">
            <ul class="list-unstyled footer-menu mr-auto">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Our works</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contacts</a></li>
            </ul>
            <div class="site-logo-wrap ml-auto">
              <a href="#" class="site-logo">
                Hải Code Dạo
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
