<div class="header-container">
  <!-- Các phần tử khác ở đây -->
  <div class="info-box">
    <p><strong>Name:</strong> {{this.schedule.data.student_info.display_name}}</p>
    <p><strong>Student Code:</strong> {{this.schedule.data.student_info.student_code}}</p>
    <p><strong>Birthday:</strong> {{this.schedule.data.student_info.birthday}}</p>
    <p><strong>Gender:</strong> {{this.schedule.data.student_info.gender}}</p>
  </div>
  <button class="sign-out-btn" (click)="signOut()">Sign Out</button>
</div>
<div class="calendar-container">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>
