<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/owl.carousel.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
<div *ngIf="loading" class="loading-overlay">
  <i class="fas fa-spinner fa-spin"></i> <!-- Sử dụng biểu tượng spinner -->
</div>
<div class="student-card-container">
  <div class="student-card" *ngFor="let ranking of this.topRanking">
    <div *ngIf="ranking.ranking === 2" class="avatar" style="margin-top: 50px">
      <img width="100" height="100" src="https://img.icons8.com/office/100/medal-second-place.png" alt="medal-second-place"/>
    </div>
    <div *ngIf="ranking.ranking === 2" class="info">
      <h2 class="name">{{ranking.student_name}}</h2>
      <p class="class">{{ranking.student_class}}</p>
      <p class="student-id">{{ranking.student_code}}</p>
      <h2 style="color: black">GPA: {{ranking.gpa}}</h2>
      <h4 style="color: black">TOP {{ranking.ranking}}</h4>
    </div>
    <div *ngIf="ranking.ranking === 1" class="avatar">
      <img width="100" height="100" src="https://img.icons8.com/plasticine/100/gold-medal.png" alt="gold-medal"/>
    </div>
    <div *ngIf="ranking.ranking === 1" class="info">
      <h2 class="name">{{ranking.student_name}}</h2>
      <p class="class">{{ranking.student_class}}</p>
      <p class="student-id">{{ranking.student_code}}</p>
      <h2 style="color: black">GPA: {{ranking.gpa}}</h2>
      <h4 style="color: black">TOP {{ranking.ranking}}</h4>
    </div>
    <div *ngIf="ranking.ranking === 3" class="avatar" style="margin-top: 50px;">
      <img width="100" height="100" src="https://img.icons8.com/external-flaticons-flat-flat-icons/100/external-bronze-medal-achievements-flaticons-flat-flat-icons-2.png" alt="external-bronze-medal-achievements-flaticons-flat-flat-icons-2"/>
    </div>
    <div *ngIf="ranking.ranking === 3" class="info">
      <h2 class="name">{{ranking.student_name}}</h2>
      <p class="class">{{ranking.student_class}}</p>
      <p class="student-id">{{ranking.student_code}}</p>
      <h2 style="color: black">GPA: {{ranking.gpa}}</h2>
      <h4 style="color: black">TOP {{ranking.ranking}}</h4>
    </div>
  </div>
</div>
<div class="content">
  <div class="main-search-input-wrap">
    <div class="overlay" *ngIf="hitButton"></div>
    <div class="main-search-input fl-wrap select-choice" *ngIf="hitButton==true">
      <div class="main-search-input-item">
        <input type="text" [(ngModel)]="student_code" placeholder="Please enter your student code...">
      </div>
      <button class="main-search-button icon-search" (click)="fetchData()"></button>
      <div class="search-history">
        <div class="row" style="margin-left: 5px">
          <select [(ngModel)]="selectedGrade">
            <option value="Xếp hạng khóa">Xếp hạng khóa</option>
            <option value="Xếp hạng khối">Xếp hạng khối</option>
            <option value="Xếp hạng trường">Xếp hạng trường</option>
            <option value="Xếp hạng lớp">Xếp hạng lớp</option>
            <option value="Xếp hạng chuyên nghành">Xếp hạng chuyên nghành</option>
            <option value="Xếp hạng theo kì">Xếp hạng theo kì gần nhất (ScholarShip)</option>
          </select>
          <!-- Nút people chiếm 2 cột -->
<!--          <div class="col-6">-->
<!--            <button class="icon-people people-button"  (click)="this.classRanking=true; this.schoolRanking=false; alert('cc'); this.hitButton=false">Xếp hạng khối</button>-->
<!--          </div>-->
<!--          <div class="col-6">-->
<!--            <button class="icon-people people-button" (click)="this.classRanking=false; this.schoolRanking=true; this.hitButton=false">Xếp hạng trường</button>-->
<!--          </div>-->
          <!-- Nút cancel chiếm 1 cột -->
<div class="col-2"></div>
<!--          <div class="col-6"></div>-->
        </div>
        <button class="icon-cancel cancel-button" (click)="this.hitButton=false"></button>
        <h5 class="icon-youtube_searched_for"> Lịch sử tìm kiếm</h5>
        <div class="container-fluid searched" [ngClass]="{'horizontal': searched.length > 3}">
        <div class="my_info_searched" *ngFor="let student of this.searched" (click)="updateStudentCode(student.student_code)">
          <h3 class="student_name">{{ student.student_name }}</h3>
          <button type="button" class="btn btn-outline-success mr-md-3 mb-2 mb-md-0">
            {{ student.student_code }} <i class="ion-ios-heart ml-1"></i>
          </button>
          <button type="button" class="btn btn-outline-danger mr-md-3 mb-2 mb-md-0">
            <i class="ion-ios-heart mr-1"></i> {{ student.student_class }}
          </button>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="table-responsive" >
      <div class="my_info" *ngIf="student_code!==''&&student.student_name.length>0">
        <h1 class="student_name">{{ student.student_name }}</h1>
        <button type="button" class="btn btn-outline-success mr-md-3 mb-2 mb-md-0">
          {{ student.student_code }} <i class="ion-ios-heart ml-1"></i>
        </button>
        <button type="button" class="btn btn-outline-danger mr-md-3 mb-2 mb-md-0">
          <i class="ion-ios-heart mr-1"></i> {{ student.student_class }}
        </button>
        <button type="button" class="btn btn-outline-info mr-md-3 mb-2 mb-md-0">#{{this.ranking.ranking}}</button>
      </div>
      <div class="stats shadow w-full bg-primary/20 stats-vertical md:stats-horizontal" *ngIf="student_code!==''&&student.student_name.length>0">
        <div class="stat">
          <div class="stat-figure text-success">
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-8 h-8 stroke-current" viewBox="0 0 512 512">
              <title>Số môn đã hoàn thành</title>
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M464 128L240 384l-96-96M144 384l-96-96M368 128L232 284"></path>
            </svg>
          </div>
          <div class="stat-title">Số môn đã hoàn thành</div>
          <div class="stat-value text-success">{{this.id-this.subjectsFailed}}</div>
        </div>
        <div class="stat failed-subjects" style="margin-top: 10px">
          <div class="stat-figure text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-8 h-8 stroke-current" viewBox="0 0 512 512">
              <title>Số môn còn nợ</title>
              <path d="M256 80c-8.66 0-16.58 7.36-16 16l8 216a8 8 0 008 8h0a8 8 0 008-8l8-216c.58-8.64-7.34-16-16-16z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></path>
              <circle cx="256" cy="416" r="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></circle>
            </svg>
          </div>
          <div class="stat-title">Số môn còn nợ</div>
          <div class="stat-value text-secondary">{{this.subjectsFailed}}</div>
        </div>
        <div class="stat student_gpa" >
          <div class="stat-figure text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-8 h-8 stroke-current" viewBox="0 0 512 512">
              <title>Pulse</title>
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M48 320h64l64-256 64 384 64-224 32 96h64"></path>
              <circle cx="432" cy="320" r="32" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></circle>
            </svg>
          </div>
          <div class="stat-title">GPA</div>
          <div class="stat-value text-primary">{{this.ranking.gpa}}</div>
        </div>
        <div class="stat student_gpa">
          <div class="stat-figure text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-8 h-8 stroke-current" viewBox="0 0 24 24">
              <path d="M12 4c-4.41 0-8 3.59-8 8s3.59 8 8 8 8-3.59 8-8-3.59-8-8-8zm0 14c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6zm1-11.9V7h-2v-1.9c1.93-.39 3.47-1.93 3.9-3.86h2.07v2.07c-1.93.43-3.47 1.97-3.97 3.79zM9.9 5h-1.9v2.07c-.43-1.93-1.97-3.47-3.9-3.86v-2.07h2.07c.43 1.93 1.97 3.47 3.86 3.9zM5 9.9v1.9H2.93c.39-1.93 1.93-3.47 3.86-3.9v-2.07h-2.07c-.43 1.93-1.97 3.47-3.79 3.97zm14.14 0c-1.9-.5-3.44-2.04-3.86-3.97H19v2.07c1.93.39 3.47 1.93 3.86 3.86v-2.07h-2.07z"/>
            </svg>
          </div>
          <div class="stat-title">Asia GPA</div>
          <div class="stat-value text-body">{{this.ranking.asia_gpa}}</div>
        </div>
      </div>
      <table class="table table-striped custom-table" *ngIf="student_code!==''&&student.student_name.length>0">
        <thead>
        <tr>

          <th scope="col">ID</th>
          <th scope="col">Tên môn học</th>
          <th scope="col">Điểm thành phần 1</th>
          <th scope="col">Điểm thành phần 2</th>
          <th scope="col">Điểm thi</th>
          <th scope="col">Điểm tổng kết</th>
          <th scope="col">Điểm chữ</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr scope="row" *ngFor="let score of scores; let i = index" [ngClass]="{ 'failed-row': score.score_text === 'F'||score.score_final <4 ,
         'success-row': score.score_text!=='F' && score.score_final>=4}">
          <td>
            {{ i + 1 }}
            {{ this.patchValue(i + 1)}}
          </td>
          <td>{{ score.subject_name }}</td>
          <td>{{ score.score_first }}</td>
          <td>{{ score.score_second }}</td>
          <td>{{ score.score_final }}</td>
          <td>{{ score.score_over_rall }}</td>
          <td *ngIf="this.subjectList.length!=0&&checkContainInList(score.subject_name)&&score.score_text!=='F'&&score.score_final>=4">{{ score.score_text }} <i class="fa fa-check-circle green-icon"></i></td>
          <td *ngIf="this.subjectList.length != 0 && checkContainInList(score.subject_name) && (score.score_text === 'F' || score.score_final < 4)">
            {{ score.score_text }}
            <span class="red-circle">
    <i class="fa fa-times red-icon"></i>
  </span>
          </td>
          <td *ngIf="this.subjectList.length!=0&&!checkContainInList(score.subject_name)">{{ score.score_text }}</td>
          <td *ngIf="this.subjectList.length===0">{{ score.score_text }}</td>
        </tr>

        </tbody>
      </table>
    </div>


  </div>

</div>



<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
