<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
  <!-- Add the evo-calendar.js for.. obviously, functionality! -->
</head>
<body>
<h1>Subjects Virtual Filter</h1>
<div class="container searching">
  <select class="select-event" [(ngModel)]="selectedCourse" (change)="fetchData()">
    <option value="" disabled selected>Select a course</option>
    <option value="A20C8D7">AT20CT8DT7</option>
    <option value="A19C7D6">AT19CT7DT6</option>
    <option value="A18C6D5">AT18CT6DT5</option>
    <option value="A17C5D4">AT17CT5DT4</option>
    <option value="A16C4D3">AT16CT4DT3</option>
  </select>
  <select class="select-event" [(ngModel)]="selectedSubject">
    <option value="" disabled selected>Select a Subject</option>
    <option *ngFor="let subject of subjectDTO" [value]="subject.subject_name" [hidden]="checkContainSubject(subject.subject_name)" (change)="updateSelected(subject.subject_name)">
      {{subject.subject_name}}
    </option>
  </select>
  <button class="main-search-button" (click)="applySubject($event); checkMatchSubject($event);">
    <i class="fas fa-check"></i>
  </button>
  <div *ngIf="loading" class="loading-overlay">
    <i class="fas fa-spinner fa-spin"></i> <!-- Sử dụng biểu tượng spinner -->
  </div>
</div>
<div class="subjects-selected">
  <h2>Selected Subjects</h2>
  <ul>
    <li *ngFor="let subject of selectedSubjects">
      {{ subject.subject_name }}
      <button class="delete-button" (click)="removeFromList(subject);">X</button>
    </li>
  </ul>
  <br style="color: red!important;"/>
  <ul *ngIf="this.suggestSubject.length>0">
    <li *ngFor="let subject of this.suggestSubject">
      {{ subject }}
      <button class="check-button" (click)="changeToList($event, subject);">&#10003;</button>
    </li>
  </ul>
</div>
<div class="row d-flex justify-content-center mt-70 mb-70">
  <h2 style="text-align: center">Tìm kiếm lớp học dựa theo thứ (Use Ctrl + Trigger)</h2>
  <div class="container searching">
    <select class="select-event" [(ngModel)]="selectedCourse" (change)="fetchData()">
      <option value="" disabled selected>Select a course</option>
      <option value="A20C8D7">AT20CT8DT7</option>
      <option value="A19C7D6">AT19CT7DT6</option>
      <option value="A18C6D5">AT18CT6DT5</option>
      <option value="A17C5D4">AT17CT5DT4</option>
      <option value="A16C4D3">AT16CT4DT3</option>
    </select>
    <select class="select-event" multiple [(ngModel)]="selectedWannaDay">
      <option *ngFor="let day of days" [value]="day" [selected]="isSelected[day]">{{ day }}</option>
    </select>
    <button class="main-search-button" (click)="suggestSubjects();">
      <i class="fas fa-search"></i>
    </button>
    <div *ngIf="loading" class="loading-overlay">
      <i class="fas fa-spinner fa-spin"></i> <!-- Sử dụng biểu tượng spinner -->
    </div>
  </div>
  <div class="col-md-6" *ngIf="this.selectedSubjects.at(0)!=null">
    <button type="button" [ngClass]="{'btn btn-dark mr-md-3 mb-2 mb-md-0': true, 'selected': selectedDay === 'Monday'}" (click)="selectDay('Monday')">Monday</button>
    <button type="button" [ngClass]="{'btn btn-dark mr-md-3 mb-2 mb-md-0': true, 'selected': selectedDay === 'Tuesday'}" (click)="selectDay('Tuesday')">Tuesday</button>
    <button type="button" [ngClass]="{'btn btn-dark mr-md-3 mb-2 mb-md-0': true, 'selected': selectedDay === 'Wednesday'}" (click)="selectDay('Wednesday')">Wednesday</button>
    <button type="button" [ngClass]="{'btn btn-dark mr-md-3 mb-2 mb-md-0': true, 'selected': selectedDay === 'Thursday'}" (click)="selectDay('Thursday')">Thursday</button>
    <button type="button" [ngClass]="{'btn btn-dark mr-md-3 mb-2 mb-md-0': true, 'selected': selectedDay === 'Friday'}" (click)="selectDay('Friday')">Friday</button>
    <button type="button" [ngClass]="{'btn btn-dark mr-md-3 mb-2 mb-md-0': true, 'selected': selectedDay === 'Saturday'}" (click)="selectDay('Saturday')">Saturday</button>
    <button type="button" [ngClass]="{'btn btn-dark mr-md-3 mb-2 mb-md-0': true, 'selected': selectedDay === 'Sunday'}" (click)="selectDay('Sunday')">Sunday</button>

    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title">User Timeline</h5>
        <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
          <div class="vertical-timeline-item vertical-timeline-element">
            <div>
                                                        <span class="vertical-timeline-element-icon bounce-in">
                                                            <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
                                                        </span>
                    <div class="vertical-timeline-element-content" *ngFor="let clone of this.listSingleSubjects; let i = index">
                    <div *ngIf="this.selectedDay=='Monday'">
                      <h3 *ngIf="clone.day_in_week==2">{{ clone.start | date:'dd/MM/yyyy ' }}: <b>{{ clone.start | date:'HH:mm ' }} -> {{clone.end | date: 'HH:mm'}}</b></h3>
                      <h2 *ngIf="clone.day_in_week==2">{{clone.subject_name}}</h2>
                      <span class="vertical-timeline-element-date" *ngIf="clone.day_in_week==2">{{ clone.end | date:'HH:mm ' }}</span>
                    </div>
                      <div *ngIf="this.selectedDay=='Tuesday'">
                        <h3 *ngIf="clone.day_in_week==3">{{ clone.start | date:'dd/MM/yyyy ' }}: <b>{{ clone.start | date:'HH:mm ' }} -> {{clone.end | date: 'HH:mm'}}</b></h3>
                        <h2 *ngIf="clone.day_in_week==3">{{clone.subject_name}}</h2>
                        <span class="vertical-timeline-element-date" *ngIf="clone.day_in_week==3">{{ clone.end | date:'HH:mm ' }}</span>
                      </div>
                      <div *ngIf="this.selectedDay=='Wednesday'">
                        <h3 *ngIf="clone.day_in_week==4">{{ clone.start | date:'dd/MM/yyyy ' }}: <b>{{ clone.start | date:'HH:mm ' }} -> {{clone.end | date: 'HH:mm'}}</b></h3>
                        <h2 *ngIf="clone.day_in_week==4">{{clone.subject_name}}</h2>
                        <span class="vertical-timeline-element-date" *ngIf="clone.day_in_week==4">{{ clone.end | date:'HH:mm ' }}</span>
                      </div>
                      <div *ngIf="this.selectedDay=='Thursday'">
                        <h3 *ngIf="clone.day_in_week==5">{{ clone.start | date:'dd/MM/yyyy ' }}: <b>{{ clone.start | date:'HH:mm ' }} -> {{clone.end | date: 'HH:mm'}}</b></h3>
                        <h2 *ngIf="clone.day_in_week==5">{{clone.subject_name}}</h2>
                        <span class="vertical-timeline-element-date" *ngIf="clone.day_in_week==5">{{ clone.end | date:'HH:mm ' }}</span>
                      </div>
                      <div *ngIf="this.selectedDay=='Friday'">
                        <h3 *ngIf="clone.day_in_week==6">{{ clone.start | date:'dd/MM/yyyy ' }}: <b>{{ clone.start | date:'HH:mm ' }} -> {{clone.end | date: 'HH:mm'}}</b></h3>
                        <h2 *ngIf="clone.day_in_week==6">{{clone.subject_name}}</h2>
                        <span class="vertical-timeline-element-date" *ngIf="clone.day_in_week==6">{{ clone.end | date:'HH:mm ' }}</span>
                      </div>
                      <div *ngIf="this.selectedDay=='Saturday'">
                        <h3 *ngIf="clone.day_in_week==7">{{ clone.start | date:'dd/MM/yyyy ' }}: <b>{{ clone.start | date:'HH:mm ' }} -> {{clone.end | date: 'HH:mm'}}</b></h3>
                        <h2 *ngIf="clone.day_in_week==7">{{clone.subject_name}}</h2>
                        <span class="vertical-timeline-element-date" *ngIf="clone.day_in_week==7">{{ clone.end | date:'HH:mm ' }}</span>
                      </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> </div>
</body>
</html>
