.container {
  display: flex;
  justify-content: flex-start; /* Canh lề sang trái */
  align-items: center; /* Căn giữa các dropdown theo chiều dọc */
  margin-bottom: 20px; /* Khoảng cách dưới của container */
}

.select-event {
  text-align: center;
  margin-left: 5px;
  padding: 8px; /* Thu nhỏ khoảng cách padding cho dropdown */
  border: 1px solid #ccc; /* Đường viền của dropdown */
  border-radius: 5px; /* Bo góc của dropdown */
  font-size: 14px; /* Thu nhỏ kích thước chữ cho dropdown */
  width: 20%; /* Chiều rộng của dropdown */
  box-sizing: border-box; /* Đảm bảo độ rộng và chiều cao tính cả border và padding */
}
.main-search-button {
  border: none; /* Loại bỏ đường viền */
  background-color: #007bff !important; /* Màu nền */
  color: #fff !important; /* Màu chữ */
  padding: 10px 20px; /* Kích thước lề */
  border-radius: 15px; /* Bo góc */
  font-size: 14px; /* Cỡ chữ */
  cursor: pointer; /* Con trỏ chuột khi hover */
  margin-left: 5px;
  transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển đổi màu */
}

.main-search-button:hover {
  background-color: #0056b3 !important; /* Màu nền khi hover */
}
.searching{
  justify-content: center;
}
.subjects-selected {
  max-width: 800px; /* Đặt chiều rộng tối đa */
  margin: 0 auto; /* Canh giữa thẻ */
  padding: 20px; /* Khoảng cách padding */
  background-color: #f0f0f0; /* Màu nền */
  border-radius: 10px; /* Bo góc */
}
.delete-button {
  background-color: #ff0000; /* Màu nền đỏ */
  color: #ffffff; /* Màu chữ trắng */
  border: none; /* Không có đường viền */
  border-radius: 50%; /* Bo tròn góc để tạo hình tròn */
  width: 20px; /* Độ rộng của nút */
  height: 20px; /* Độ cao của nút */
  font-size: 12px; /* Kích thước chữ */
  cursor: pointer; /* Con trỏ chuột thành dạng bàn tay khi di chuyển vào nút */
}

.delete-button:hover {
  background-color: #ff6666; /* Màu nền đỏ nhạt khi di chuột vào */
}

.delete-button:focus {
  outline: none; /* Loại bỏ đường viền khi nút được focus */
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.fa-spinner {
  font-size: 40px; /* Điều chỉnh kích thước spinner */
  color: #333; /* Màu của spinner */
}
:host {
  --calendar-width: 100%;

  .cal-month-view {
    width: var(--calendar-width);
  }

  .cal-month-cell {
    height: 100px;
    border: 1px solid #ddd;
  }

  .cal-day-badge {
    background-color: #007bff;
    color: #fff;
  }
}
/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.wrapper{
  width: 60%; /* Đặt chiều rộng của .wrapper là 60% của màn hình */
  max-width: 450px; /* Tối đa là 450px */
  height: 300px; /* Đặt chiều cao của .wrapper là 300px */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  margin: 0 auto; /* Canh giữa thẻ */
  padding: 20px; /* Khoảng cách padding */
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #9B59B6;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}
.md-switching-view-cont {
  height: 100%;
}

.md-switching-view-cont .mbsc-segmented {
  margin: 0;
}

.md-switching-view-cont .mbsc-segmented.mbsc-material,
.md-switching-view-cont .mbsc-segmented.mbsc-windows {
  padding: 0;
}

.md-switching-view-cont .mbsc-segmented .mbsc-segmented-button {
  padding: 0 1px;
}

.md-switching-view-cont .mbsc-segmented .mbsc-icon {
  font-size: 20px;
}

.md-switching-view-cont .mbsc-segmented-button.mbsc-windows {
  border: 0;
}

.cal-header-picker {
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cal-header-nav {
  width: 165px;
}

.cal-header-nav .mbsc-calendar-title.mbsc-material {
  font-size: 16px;
}
.hero{
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,#6ac1c5,#bda5ff);
}
body{
  background-color: #eee;
}

.mt-70{
  margin-top: 70px;
}

.mb-70{
  margin-bottom: 70px;
}

.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
  border-width: 0;
  transition: all .2s;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(26,54,126,0.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.vertical-timeline {
  width: 100%;
  position: relative;
  padding: 1.5rem 0 1rem;
}

.vertical-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 67px;
  height: 100%;
  width: 4px;
  background: #e9ecef;
  border-radius: .25rem;
}

.vertical-timeline-element {
  position: relative;
  margin: 0 0 1rem;
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
  visibility: visible;
  animation: cd-bounce-1 .8s;
}
.vertical-timeline-element-icon {
  position: absolute;
  top: 0;
  left: 60px;
}

.vertical-timeline-element-icon .badge-dot-xl {
  box-shadow: 0 0 0 5px #fff;
}

.badge-dot-xl {
  width: 18px;
  height: 18px;
  position: relative;
}
.badge:empty {
  display: none;
}


.badge-dot-xl::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: .25rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -5px 0 0 -5px;
  background: #fff;
}

.vertical-timeline-element-content {
  position: relative;
  margin-left: 90px;
  font-size: .8rem;
}

.vertical-timeline-element-content .timeline-title {
  font-size: .8rem;
  text-transform: uppercase;
  margin: 0 0 .5rem;
  padding: 2px 0 0;
  font-weight: bold;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  display: block;
  position: absolute;
  left: -90px;
  top: 0;
  padding-right: 10px;
  text-align: right;
  color: #adb5bd;
  font-size: .7619rem;
  white-space: nowrap;
}

.vertical-timeline-element-content:after {
  content: "";
  display: table;
  clear: both;
}
.selected {
  font-size: 20px !important; /* Đổi kích thước */
  color: wheat !important; /* Đổi màu chữ */
  background-color: black !important;
}
/* Thiết lập chiều cao cho dropdown */
.mdb-select {
  height: 40px;
}

/* Thiết lập kiểu chữ cho label */
.select-label {
  font-size: 16px;
  font-weight: bold;
  color: #333; /* Màu chữ */
}

/* Thiết lập màu nền cho dropdown */
.mdb-select .select-dropdown {
  background-color: #f8f9fa; /* Màu nền */
}

/* Thiết lập màu chữ cho dropdown */
.mdb-select .select-dropdown .select-option {
  color: #333; /* Màu chữ */
}
.check-button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px; /* Độ rộng của nút */
  height: 20px; /* Độ cao của nút */
  font-size: 12px;
  cursor: pointer;
}

.check-button:hover {
  background-color: lightgreen; /* Màu nền xanh lá cây nhạt khi di chuột vào */
}

.check-button:focus {
  outline: none; /* Loại bỏ đường viền khi nút được focus */
}

