<table class="table custom-table">
  <thead>
  <tr>
    <th>#</th>
    <th>File Name</th>
    <th>File Size (KB)</th>
    <th>File Type</th>
    <th>Created At</th>
    <th>Download</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let file of files; let i = index">
    <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
    <td>{{ file.file_name }}</td>
    <td>{{ (file.file_size / 1024) | number:'1.0-0' }}</td>
    <td>{{ file.file_type }}</td>
    <td>{{ file.created_at | date:'dd-MM-yyyy HH:mm' }}</td>
    <td>
      <button (click)="downloadFile(file.file_name)" class="btn download-btn">
        <i class="fas fa-download"></i> Download
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="pagination">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>
