<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<div class="sidebar">
  <ul>
    <li routerLink="admin/home" routerLinkActive="active" [class.active]="selectedName === 'Home'" (click)="selectItem('Home')">
      <i class="fas fa-chart-bar"></i> Chart
    </li>
    <li routerLink="admin/warning" routerLinkActive="active" [class.active]="selectedName === 'Warning'" (click)="selectItem('Warning')">
      <i class="fas fa-warning"></i> Warning
    </li>
    <li *ngIf="isAdmin()" routerLink="admin/import/pdf" routerLinkActive="active" [class.active]="selectedName === 'Import PDF'" (click)="selectItem('Import PDF')">
      <i class="fas fa-file-import"></i> Import PDF
    </li>
    <li routerLink="admin/file/storage" routerLinkActive="active" [class.active]="selectedName === 'Files Storage'" (click)="selectItem('Files Storage')">
      <i class="fas fa-file-arrow-down"></i> Files Storage
    </li>
<!--    <li *ngIf="isAdmin()" routerLink="admin/view/results" routerLinkActive="active" [class.active]="selectedName === 'View Results'" (click)="selectItem('View Results')">-->
<!--      <i class="fas fa-chart-bar"></i> View Results-->
<!--    </li>-->
<!--    <li *ngIf="isAdmin()" routerLink="admin/scores/management" routerLinkActive="active" [class.active]="selectedName === 'Scores Management'" (click)="selectItem('Scores Management')">-->
<!--      <i class="fas fa-book"></i> Scores Management-->
<!--    </li>-->
<!--    <li *ngIf="isAdmin()" routerLink="admin/subjects/management" routerLinkActive="active" [class.active]="selectedName === 'Subjects Management'" (click)="selectItem('Subjects Management')">-->
<!--      <i class="fas fa-file-import"></i> Subjects Management-->
<!--    </li>-->
<!--    <li *ngIf="isAdmin()" routerLink="admin/user/management" routerLinkActive="active" [class.active]="selectedName === 'User Management'" (click)="selectItem('User Management')">-->
<!--      <i class="fas fa-user"></i> Users Management-->
<!--    </li>-->
  </ul>
</div>
<!--<div class="toggle-btn" (click)="onToggleSidebar()">-->
<!--  <i [class]="isCollapsed ? 'fas fa-arrow-right' : 'fas fa-arrow-left'"></i>-->
<!--</div>-->
